interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://repology.org/api/v1/projects/?search=firefox
  response:
    body:
      string: '{"firefox-gnome-theme":[{"repo":"aur","srcname":"firefox-gnome-theme","binname":"firefox-gnome-theme","visiblename":"firefox-gnome-theme","version":"121","maintainers":["functionalhacker@aur"],"licenses":["Unlicense"],"summary":"A
        GNOME theme for Firefox","status":"unique","origversion":"121-1"},{"repo":"aur","srcname":"firefox-gnome-theme-git","binname":"firefox-gnome-theme-git","visiblename":"firefox-gnome-theme-git","version":"112.r0.g9b88fd9","maintainers":["ewout@aur"],"licenses":["Unlicense"],"summary":"A
        GNOME theme for Firefox","status":"rolling","origversion":"112.r0.g9b88fd9-1"}],"firefox":[{"repo":"salix_14_2","srcname":"mozilla-firefox-l10n-sr","visiblename":"mozilla-firefox-l10n-sr","version":"102","summary":"mozilla-firefox-l10n-sr
        Serbian","status":"outdated","origversion":"102esr"},{"repo":"salix_14_2","srcname":"mozilla-firefox-l10n-tl","visiblename":"mozilla-firefox-l10n-tl","version":"102","summary":"mozilla-firefox-l10n-tl
        Tagalog","status":"outdated","origversion":"102esr"},{"repo":"archpower_riscv64","srcname":"firefox","binname":"firefox","visiblename"[...]
