interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://repology.org/api/v1/projects/
  response:
    body:
      string: '{"010editor":[{"repo":"aur","srcname":"010editor","binname":"010editor","visiblename":"010editor","version":"14.0","maintainers":["zrax@aur"],"licenses":["custom"],"summary":"Professional
        text and hex editing with Binary Templates technology","status":"newest","origversion":"14.0-2"},{"repo":"chocolatey","binname":"010editor","visiblename":"010
        Editor","version":"14.0.0","summary":"010 Editor is a hex and process editor
        that allows exploration of data using binary templates and interaction with
        data via scripts","status":"newest","origversion":null},{"repo":"chocolatey","binname":"010editor.install","visiblename":"010
        Editor (Install)","version":"14.0.0","summary":"010 Editor is a hex and process
        editor that allows exploration of data using binary templates and interaction
        with data via scripts","status":"newest","origversion":null},{"repo":"chocolatey","binname":"010editor.portable","visiblename":"010
        Editor  (Portable)","version":"14.0.0","summary":"010 Editor is a hex and
        process editor that allows exploration of data using binary templates and
        interaction with data via scripts","status":"newest","origversion":null},{"repo":"homebrew_casks","srcname":"010-editor","visiblename":"010
        Editor","version":"14.0","summary":"Text editor","status":"newest","origversion":null},{"repo":"winget","srcname":"s/SweetScape/010Editor","visiblename":"010
        Editor","version":"14.0","categories":["binary"],"status":"newest","origversion":null},{"repo":"winget","srcname":"s/SweetScape/010Editor","visiblename":"010Editor","version":"11.0.1","categories":["binary-editor"],"status":"legacy","origversion":null},{"repo":"winget","srcname":"s/SweetScape/010Editor","visiblename":"010
        Editor","version":"12.0.1","categories":["binary-editor"],"status":"legacy","origversion":null},{"repo":"winget","srcname":"s/SweetScape/010Editor","visiblename":"010
        Editor","version":"13.0.2","categories":["binary"],"status":"legacy","origversion":null},{"repo":"winget","srcname":"s/SweetScape/010Editor","visiblename":"010
        Editor","version":"13.0.1","categories":["binary"],"status":"legacy","origversion":null},{"repo":"winget","srcname":"s/SweetScape/010Editor","visiblename":"010
        Editor","version":"13.0","categories":["binary"],"status":"legacy","origversion":null}],"66-exherbo":[{"repo":"exherbo","subrepo":"arbor","srcname":"app-admin/66-exherbo","visiblename":"app-admin/66-exherbo","version":"scm","maintainers":["fallback-mnt-exherbo@repology"],"summary":"A
        66 policy for Exherbo","categories":["app-admin"],"status":"rolling","origversion":null}],"389-admin":[{"repo":"amazon_1","subrepo":"main","srcname":"389-admin","visiblename":"389-admin","version":"1.1.38","licenses":["GPLv2
        and ASL 2.0"],"summary":"389 Administration Server (admin)","categories":["System
        Environment/Da[...]
