interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://repology.org/api/v1/projects/a/
  response:
    body:
      string: '{"aardvark-dns":[{"repo":"liguros_stable","srcname":"app-containers/aardvark-dns","visiblename":"app-containers/aardvark-dns","version":"1.8.0","maintainers":["zmedico@gentoo.org","me@rahil.website","proxy-maint@gentoo.org"],"licenses":["0BSD","Apache-2.0","Apache-2.0-with-LLVM-exceptions","MIT","Unlicense","Unicode-DFS-2016","ZLIB"],"summary":"A
        container-focused DNS server","categories":["app-containers"],"status":"legacy","origversion":null},{"repo":"liguros_stable","srcname":"app-containers/aardvark-dns","visiblename":"app-containers/aardvark-dns","version":"1.6.0","maintainers":["zmedico@gentoo.org","me@rahil.website","proxy-maint@gentoo.org"],"licenses":["Apache-2.0","Apache-2.0-with-LLVM-exceptions","MIT","Unlicense","ZLIB"],"summary":"A
        container-focused DNS server","categories":["app-containers"],"status":"legacy","origversion":null},{"repo":"liguros_stable","srcname":"app-containers/aardvark-dns","visiblename":"[...]
