interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://repology.org/api/v1/projects/
  response:
    body:
      string: "{\"4kstogram\":[{\"repo\":\"aur\",\"srcname\":\"4kstogram\",\"binname\":\"4kstogram\",\"visiblename\":\"4kstogram\",\"version\":\"4.9.0.4680\",\"origversion\":\"4.9.0.4680-1\",\"status\":\"newest\",\"summary\":\"Download
        and backup Instagram photos shared by any user\",\"maintainers\":[\"muflone@aur\"],\"licenses\":[\"LicenseRef-EULA\"]},{\"repo\":\"rosa_2019_1\",\"subrepo\":\"contrib/release\",\"srcname\":\"4kstogram\",\"visiblename\":\"4kstogram\",\"version\":\"3.4.1\",\"origversion\":\"3.4.1-1\",\"status\":\"outdated\",\"summary\":\"Instagram
        client\",\"maintainers\":[\"m.novosyolov@rosalinux.ru\"],\"licenses\":[\"Free
        for non-commercial usage\"],\"categories\":[\"Networking/File transfer\"]},{\"repo\":\"rosa_13\",\"subrepo\":\"contrib/release\",\"srcname\":\"4kstogram\",\"visiblename\":\"4kstogram\",\"version\":\"3.4.1\",\"origversion\":\"3.4.1-2\",\"status\":\"outdated\",\"summary\":\"Instagram
        client\",\"maintainers\":[\"alexander@mezon.ru\"],\"licenses\":[\"Free for
        non-commercial usage\"],\"categories\":[\"Networking/File transfer\"]}],\"2h4u\":[{\"repo\":\"aur\",\"srcname\":\"2h4u\",\"binname\":\"2h4u\",\"visiblename\":\"2h4u\",\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://repology.org/api/v1/projects/7plus/
  response:
    body:
      string: "{\"aaindex\":[{\"repo\":\"gentoo\",\"srcname\":\"sci-biology/aaindex\",\"visiblename\":\"sci-biology/aaindex\",\"version\":\"9.1\",\"origversion\":\"9.1-r2\",\"status\":\"unique\",\"summary\":\"Amino
        acid indices and similarity matrices\",\"maintainers\":[\"sci-biology@gentoo.org\"],\"licenses\":[\"public-domain\"],\"categories\":[\"sci-biology\"]},{\"repo\":\"liguros_stable\",\"srcname\":\"sci-biology/aaindex\",\"visiblename\":\"sci-biology/aaindex\",\"version\":\"9.1\",\"origversion\":\"9.1-r2\",\"status\":\"unique\",\"summary\":\"Amino
        acid indices and similarity matrices\",\"maintainers\":[\"sci-biology@gentoo.org\"],\"licenses\":[\"public-domain\"],\"categories\":[\"sci-biology\"]},{\"repo\":\"liguros_develop\",\"srcname\":\"sci-biology/aaindex\",\"visiblename\":\"sci-biology/aaindex\",\"version\":\"9.1\",\"origversion\":\"9.1-r2\",\"status\":\"unique\",\"summary\":\"Amino
        acid indices and similarity matrices\",\"maintainers\":[\"sci-biology@gentoo.org\"],\"licenses\":[\"public-domain\"],\"categories\":[\"sci-biology\"]}],\"aacsupdater\":[{\"repo\":\"packman_opensuse_tumbleweed\",\"srcname\":\"aacsupdater\",\"visiblename\":\"aacsupdater\",\"version\":\"2.1.1.0\",\"origversion\":\"2.1.1.0-1.96\",\"status\":\"unique\",\"summary\":\"Keeps
        AACS database up-to-date\",\"maintainers\":[\"packman@links2linux.de\"],\"licenses\":[\"GPL-3.0+
        and BSD-3-Clause\"],\"categories\":[\"Productivity/Multimedia/Video/Players\"]},{\"repo\":\"packman_opensuse_tumbleweed\",\"srcname\":\"aacsupdater\",\"visiblename\":\"aacsupdater\",\"version\":\"2.1.1.0\",\"origversion\":\"2.1.1.0-1.11\",\"status\":\"unique\",\"summary\":\"Keeps
        AACS database up-to-date\",\"maintainers\":[\"packman@links2linux.de\"],\"licenses\":[\"GPL-3.0+
        and BSD-3-Clause\"],\"categories\":[\"Productivity/Multimedia/Video/Players\"]}],\"abc2prt\":[{\"repo\":\"pclinuxos\",\"srcname\":\"abc2prt\",\"visiblename\":\"abc2prt\",\"version\":\"1.0.2\",\"origversion\":\"1.0.2-1pclos2016\",\"status\":\"newest\",\"summary\":\"A
        program to extract parts from multivoice ABC files.\",\"categories\":[\"Sound\"]},{\"repo\":\"rpmsphere\",\"srcname\":\"abc2prt\",\"visiblename\":\"abc2prt\",\"version\":\"1.0.2\",\"origversion\":\"1.0.2-3.1\",\"status\":\"newest\",\"summary\":\"A
        program to extract parts from multivoice ABC files\",\"licenses\":[\"GPL\"],\"categories\":[\"Applications/File\"]}],\"a2d\":[{\"repo\":\"debian_13\",\"subrepo\":\"trixie/main\",\"srcname\":\"a2d\",\"visiblename\":\"a2d\",\"version\":\"2.0.5\",\"origversion\":\"2.0.5-2\",\"status\":\"unique\",\"maintainers\":[\"yogu@debian.org\"],\"categories\":[\"misc\"]},{\"repo\":\"debian_14\",\"subrepo\":\"forky/main\",\"srcname\":\"a2d\",\"visiblename\":\"a2d\",\"version\":\"2.0.5\",\"origversion\":\"2.0.5-2\",\"status\":\"unique\",\"maintainers\":[\"yogu@debian.org\"],\"categories\":[\"misc\"]},{\"repo\":\"debian_unstable\",\"su[...]
