interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://repology.org/api/v1/projects/
  response:
    body:
      string: "{\"44bsd-csh\":[{\"repo\":\"freebsd\",\"srcname\":\"shells/44bsd-csh\",\"binname\":\"44bsd-csh\",\"visiblename\":\"shells/44bsd-csh\",\"version\":\"20001106\",\"origversion\":\"20001106_7\",\"status\":\"unique\",\"summary\":\"The
        traditional 4.4BSD /bin/csh C-shell\",\"maintainers\":[\"cy@freebsd.org\"],\"categories\":[\"shells\"]}],\"7k-ambition\":[{\"repo\":\"aur\",\"srcname\":\"7k-ambition\",\"binname\":\"7k-ambition\",\"visiblename\":\"7k-ambition\",\"version\":\"3.2.8\",\"origversion\":\"3.2.8-2\",\"status\":\"newest\",\"summary\":\"Seven
        Kingdoms: Ambition is a real-time game of epic strategy and empire building
        featuring economy management, warfare, and intrigue. It is an updated and
        enhanced version of 7kaa (7K: Ancient Adversaries) featuring numerous fixes
        and improvements.\",\"maintainers\":[\"infiltrator@aur\",\"trialnerror@aur\"],\"licenses\":[\"GPL-2.0-or-later\"]},{\"repo\":\"gentoo_ovl_guru\",\"srcname\":\"games-strategy/7k-ambition\",\"visiblename\":\"games-strategy/7k-ambition\",\"version\":\"9999\",\"origversion\":null,\"status\":\"rolling\",\"summary\":\"Seven
        Kingdoms: Ambition\",\"maintainers\":[\"lt.infiltrator@gmail.com\"],\"licenses\":[\"GPL-2
        music? ( 7k-music )\"],\"categories\":[\"games-strategy\"]},{\"repo\":\"gentoo_ovl_guru\",\"srcname\":\"games-strategy/7k-ambition\",\"visiblename\":\"games-strategy[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://repology.org/api/v1/projects/7plus/
  response:
    body:
      string: "{\"aardtools\":[{\"repo\":\"alt_p9\",\"srcname\":\"aardtools\",\"visiblename\":\"aardtools\",\"version\":\"0.9.0\",\"origversion\":\"0.9.0-alt1.git.4.g831482e\",\"status\":\"unique\",\"summary\":\"Tools
        to create dictionaries in aarddict format\",\"maintainers\":[\"ildar@altlinux.ru\"],\"licenses\":[\"GPL3\"],\"categories\":[\"Development/Other\"]}],\"aarch64-linux-gnu-linux-libre-api-headers\":[{\"repo\":\"parabola\",\"subrepo\":\"libre\",\"srcname\":\"aarch64-linux-gnu-linux-libre-api-headers\",\"binname\":\"aarch64-linux-gnu-linux-libre-api-headers\",\"visiblename\":\"aarch64-linux-gnu-linux-libre-api-headers\",\"version\":\"4.19_gnu\",\"origversion\":\"4.19_gnu-1\",\"status\":\"outdated\",\"summary\":\"Kernel
        headers sanitized for use in userspace (aarch64-linux-gnu)\",\"licenses\":[\"GPL2\"]},{\"repo\":\"parabola_testing\",\"subrepo\":\"libre-testing\",\"srcname\":\"aarch64-linux-gnu-linux-libre-api-headers\",\"binname\":\"aarch64-linux-gnu-linux-libre-api-headers\",\"visiblename\":\"aarch64-linux-gnu-linux-libre-api-headers\",\"version\":\"5.18_gnu\",\"origversion\":\"5.18_gnu-1\",\"status\":\"unique\",\"summary\":\"Kernel
        headers sanitized for use in userspace (aarch64-linux-gnu)\",\"licenses\":[\"GPL2\"]}],\"8fetch\":[{\"repo\":\"aur\",\"srcname\":\"8fetch\",\"binname\":\"8fetch\",\"visiblename\":\"8fetch\",\"version\":\"2\",\"origversion\":\"2-1\",\"status\":\"unique\",\"summary\":\"A
        minimal system information fetch tool\",\"maintainers\":[\"germanphoneguy@aur\"],\"licenses\":[\"AGPL-3.0-or-later\"]}],\"9cc\":[{\"repo\":\"aur\",\"srcname\":\"9cc-git\",\"binname\":\"9cc-git\",\"visiblename\":\"9cc-git\",\"version\":\"r267.ea2f4b8\",\"origversion\":\"r267.ea2f4b8-1\",\"status\":\"rolling\",\"summary\":\"Simple
        and clean C11 compiler\",\"maintainers\":[\"andreas_baumann@aur\"],\"licenses\":[\"MIT\"]}],\"aba\":[{\"repo\":\"crates_io\",\"srcname\":\"aba\",\"visiblename\":\"aba\",\"version\":\"0.8.0\",\"origversion\":null,\"status\":\"newest\",\"summary\":\"An
        address book for aerc\"},{\"repo\":\"nix_stable_23_11\",\"srcname\":\"aba\",\"visiblename\":\"aba\",\"version\":\"0.7.1\",\"origversion\":null,\"status\":\"outdated\",\"summary\":\"An
        address book for aerc\",\"maintainers\":[\"dev@onemoresuza.mailer.me\"],\"licenses\":[\"ISC\"]},{\"repo\":\"nix_stable_24_05\",\"srcname\":\"aba\",\"[...]
