interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://repology.org/api/v1/projects/a/
  response:
    body:
      string: "{\"aalib\":[{\"repo\":\"aix_osp\",\"srcname\":\"aalib\",\"visiblename\":\"aalib\",\"version\":\"1.4.0-rc5\",\"origversion\":\"1.4.0-0.1.rc5\",\"status\":\"incorrect\"},{\"repo\":\"openpkg_current\",\"srcname\":\"aalib\",\"visiblename\":\"aalib\",\"version\":\"1.4rc5\",\"origversion\":null,\"status\":\"devel\",\"summary\":\"ASCII
        Art Graphics Library\",\"licenses\":[\"LGPL\"],\"categories\":[\"Graphics\"]},{\"repo\":\"alt_p9\",\"srcname\":\"aalib\",\"visiblename\":\"aalib\",\"version\":\"1.4-rc5\",\"origversion\":\"1.4-alt8rc5\",\"status\":\"devel\",\"summary\":\"AA
        (Ascii Art) library\",\"maintainers\":[\"ldv@altlinux.org\"],\"licenses\":[\"LGPLv2+\"],\"categories\":[\"System/Libraries\"]},{\"repo\":\"alt_p10\",\"srcname\":\"aalib\",\"visiblename\":\"aalib\",\"version\":\"1.4-rc5\",\"origversion\":\"1.4-alt8rc5\",\"status\":\"devel\",\"summary\":\"AA
        (Ascii Art) library\",\"maintainers\":[\"ldv@altlinux.org\"],\"licenses\":[\"LGPLv2+\"],\"categories\":[\"System/Libraries\"]},{\"repo\":\"alt_p11\",\"srcname\":\"aalib\",\"visiblename\":\"aalib\",\"version\":\"1.4-rc5\",\"origversion\":\"1.4-alt8rc5\",\"status\":\"devel\",\"summary\":\"AA
        (Ascii Art) library\",\"maintainers\":[\"ldv@altlinux.org\"],\"licenses\":[\"LGPLv2+\"],\"categories\":[\"System/Libraries\"]},{\"repo\":\"altsisyphus\",\"srcname\":\"aalib\",\"visiblename\":\"aalib\",\"version\":\"1.4-rc5\",\"origversion\":\"1.4-alt8rc5\",\"status\":\"devel\",\"summary\":\"AA
        (Ascii Art) library\",\"maintainers\":[\"ldv@altlinux.org\"],\"licenses\":[\"LGPLv2+\"],\"categories\":[\"System/Libraries\"]},{\"repo\":\"amazon_1\",\"subrepo\":\"main\",\"srcname\":\"aalib\",\"visiblename\":\"aalib\",\"version\":\"1.4.0-rc5\",\"origversion\":\"1.4.0-0.22.rc5.3.amzn1\",\"status\":\"incorrect\",\"summary\":\"ASCII
        art library\",\"licenses\":[\"LGPLv2+\"],\"categories\":[\"System Environment/Libraries\"]},{\"repo\":\"aosc\",\"srcname\":\"runtime-multimedia/aalib\",\"binname\":\"aalib\",\"visiblename\":\"aalib\",\"version\":\"1.4rc5\",\"origversion\":\"1.4rc5-3\",\"status\":\"devel\",\"summary\":\"ASCII
        Art Library\",\"maintainers\":[\"fallback-mnt-aosc@repology\"],\"categories\":[\"libs\"]},{\"repo\":\"aosc\",\"srcname\":\"runtime-optenv32/aalib+32\",\"binname\":\"aalib+32\",\"visiblename\":\"aalib+32\",\"version\":\"1.4rc5\",\"origversion\":\"1.4rc5-2\",\"status\":\"devel\",\"summary\":\"ASCII
        Art Library (optenv32)\",\"maintainers\":[\"fallback-mnt-[...]
