interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://repology.org/api/v1/projects/
  response:
    body:
      string: "{\"4store\":[{\"repo\":\"aur\",\"srcname\":\"4store\",\"binname\":\"4store\",\"visiblename\":\"4store\",\"version\":\"1.1.6\",\"origversion\":\"1.1.6-4\",\"status\":\"outdated\",\"summary\":\"Efficient,
        scalable and stable RDF database\",\"maintainers\":[\"florian@aur\"],\"licenses\":[\"GPL\"]},{\"repo\":\"debian_10\",\"subrepo\":\"buster/main\",\"srcname\":\"4store\",\"visiblename\":\"4store\",\"version\":\"1.1.6+20151109\",\"origversion\":\"1.1.6+20151109-2\",\"status\":\"outdated\",\"maintainers\":[\"dr@jones.dk\",\"dajobe@debian.org\"],\"categories\":[\"utils\"]},{\"repo\":\"deepin_unstable\",\"subrepo\":\"main\",\"srcname\":\"4store\",\"visiblename\":\"4store\",\"version\":\"1.1.6+20151109\",\"origversion\":\"1.1.6+20151109-2\",\"status\":\"outdated\",\"maintainers\":[\"dr@jones.dk\",\"dajobe@debian.org\"]},{\"repo\":\"devuan_3_0\",\"subrepo\":\"beowulf/main\",\"srcname\":\"4store\",\"visiblename\":\"4store\",\"version\":\"1.1.6+20151109\",\"origversion\":\"1.1.6+20151109-2\",\"status\":\"outdated\",\"maintainers\":[\"dr@jones.dk\",\"dajobe[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://repology.org/api/v1/projects/8086tiny/
  response:
    body:
      string: "{\"9mount\":[{\"repo\":\"aur\",\"srcname\":\"9mount\",\"binname\":\"9mount\",\"visiblename\":\"9mount\",\"version\":\"1.3\",\"origversion\":\"1.3-3\",\"status\":\"newest\",\"summary\":\"A
        set of SUID tools for mounting 9p filesystems via v9fs.\",\"maintainers\":[\"jose1711@aur\"],\"licenses\":[\"ISC\"]},{\"repo\":\"debian_10\",\"subrepo\":\"b[...]
