interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://repology.org/api/v1/repository/freebsd/problems
  response:
    body:
      string: '[{"type":"homepage_dead","data":{"code":404,"url":"https://github.com/CoolerVoid/0d1n"},"project_name":"0d1n","maintainer":"zackj901@yandex.com","binname":"0d1n","srcname":"security/0d1n","version":"3.8","rawversion":"3.8_1"},{"type":"homepage_dead","data":{"code":-100,"url":"http://artax.karlin.mff.cuni.cz/~brain/0verkill/"},"project_name":"0verkill","maintainer":"ports@freebsd.org","binname":"0verkill","srcname":"games/0verkill","version":"0.16","rawversion":"0.16_2"},{"type":"homepage_dead","data":{"code":404,"url":"https://github.com/LadueCS/2048"},"project_name":"2048-py","maintainer":"0mp@freebsd.org","binname":"py311-2048-py","srcname":"games/py-2048-py","version":"0.1.6","rawversion":"0.1.6_1"},{"type":"homepage_dead","data":{"code":-502,"url":"https://old.nklein.com/products/54321/"},"project_name":"54321","maintainer":"ports@freebsd.org","binname":"54321","srcname":"games/54321","version":"1.0.2001.11.16","rawversion":"1.0.2001.11.16_15"},{"type":"homepage_dead","data":{"code":-201,"url":"http://perl.jonallen.info/projects/a2pdf"},"project_name":"a2pdf","maintainer":"portmaster@bsdforge.com","binname":"a2pdf","srcname":"print/a2pdf","version":"1.13","rawversion":"1.13_2"},{"type":"homepage_dead","data":{"code":-502,"url":"https://www.lautengesellschaft.de/cdmm/"},"project_name":"abcselect","maintainer":"ports@freebsd.org","binname":"abcselect","srcname":"audio/abcselect","version":"1.5","rawversion":"1.5_1"},{"type":"homepage_permanent_https_redirect","data":{"target":"https://www.brain-dump.org/projects/abduco/","url":"http://www.brain-dump.org/projects/abduco/"},"project_name":"abduco","maintainer":"swdragonmaus@gmail.com","binname":"abduco","srcname":"sysutils/abduco","version":"0.6","rawversion":"0.6_1"},{"type":"homepage_dead","data":{"code":-200,"url":"https://www.abisource.com/"},"project_name":"abiword","maintainer":"gnome@freebsd.org","binname":"abiword-docs","srcname":"editors/abiword-docs","version":"3.0.1","rawversion":"3.0.1_2"},{"type":"homepage[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://repology.org/api/v1/repository/freebsd/problems?start=cursors:jimmac-theme
  response:
    body:
      string: '[{"type":"homepage_dead","data":{"code":404,"url":"http://jimmac.musichall.cz/themes.php?skin=7"},"project_name":"cursors:jimmac-theme","maintainer":"ps.ports@smyrak.com","binname":"cursor-jimmac-theme","srcname":"x11-themes/cursor-jimmac-theme","version":"0.1","rawversion":"0.1_3"},{"type":"homepage_dead","data":{[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://repology.org/api/v1/repository/freebsd/problems?start=fonts:oxygen
  response:
    body:
      string: '[{"type":"homepage_dead","data":{"code":-201,"url":"https://cgit.kde.org/oxygen-fonts.git"},"project_name":"fonts:oxygen","maintainer":"vishwin@freebsd.org","binname":"oxygen-fonts","srcname":"x11-fonts/oxygen-fonts","version":"5.4.3","rawversion":"5.4.3"},{"type":"homepage_dead","data":{"code":-200,"url":"http://upperboun[...]
