interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://repology.org/api/v1/repository/freebsd/problems
  response:
    body:
      string: '[{"id":1061653046,"repo":"freebsd","family":"freebsd","subrepo":null,"name":null,"srcname":"security/0d1n","binname":"0d1n","binnames":null,"trackname":"security/0d1n","visiblename":"security/0d1n","projectname_seed":"0d1n","origversion":"3.8","rawversion":"3.8_1","arch":null,"maintainers":["zackj901@yandex.com"],"category":"security","comment":"Open
        source web HTTP fuzzing tool and bruteforcer","licenses":null,"cpe_vendor":null,"cpe_product":null,"cpe_edition":null,"cpe_lang":null,"cpe_sw_edition":null,"cpe_target_sw":null,"cpe_target_hw":null,"cpe_other":null,"effname":"0d1n","version":"3.8","versionclass":1,"flags":0,"shadow":false,"links":[[5,2576936],[7,6517804],[9,24620606],[10,6510393],[8,18550002],[0,156031]],"maintainer":"zackj901@yandex.com","type":"homepage_dead","data":{"url":"https://github.com/CoolerVoid/0d1n","code":404},"url":"https://cgit.freebsd.org/ports/tree/security/0d1n/Makefile"},{"id":1064228348,"repo":"freebsd","family":"freebsd","subrepo":null,"name":null,"srcname":"games/0verkill","binname":"0verkill","binnames":null,"trackname":"games/0verkill","visiblename":"games/0verkill","projectname_seed":"0verkill","origversion":"0.16","rawversion":"0.16_2","arch":null,"maintainers":["ports@freebsd.org"],"category":"games","comment":"Bloody
        2D action deathmatch-like game in ASCII art","licenses":n[...]
