interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://repology.org/api/v1/projects/
  response:
    body:
      string: "{\"7zip-zstd\":[{\"repo\":\"chocolatey\",\"binname\":\"7zip-zstd\",\"visiblename\":\"7zip-zstd
        (Install)\",\"version\":\"1.5.2.1\",\"origversion\":null,\"status\":\"untrusted\",\"summary\":\"7-Zip
        with support for Zstandard, Brotli, Lz4, Lz5 and Lizard Compression\"},{\"repo\":\"scoop\",\"subrepo\":\"versions\",\"binname\":\"7zip-zstd\",\"visiblename\":\"7zip-zstd\",\"version\":\"v22.01-v1.5.5-R3\",\"origversion\":null,\"status\":\"untrusted\",\"licenses\":[\"LGPL-2.1-or-later\"]},{\"repo\":\"winget\",\"srcname\":\"m/mcmilk/7zip-zstd\",\"visiblename\":\"7-Zip
        ZS\",\"version\":\"21.03 ZS v1.5.0 R2\",\"origversion\":null,\"status\":\"untrusted\",\"categories\":[\"7-zip\"]},{\"repo\":\"winget\",\"srcname\":\"m/mcmilk/7zip-zstd\",\"visiblename\":\"7-Zip
        ZS\",\"version\":\"22.01 ZS v1.5.5 R2\",\"origversion\":null,\"status\":\"untrusted\",\"categories\":[\"7-zip\"]},{\"repo\":\"winget\",\"srcname\":\"m/mcmilk/7zip-zstd\",\"visiblename\":\"7-Zip
        ZS\",\"version\":\"22.01 ZS v1.5.2 R1\",\"origversion\":null,\"status\":\"untrusted\",\"categories\":[\"7-zip\"]},{\"repo\":\"winget\",\"srcname\":\"m/mcmilk/7zip-zstd\",\"visiblename\":\"7-Zip
   [...]
