interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://repology.org/tools/project-by?repo=freebsd&name=www/firefox&name_type=srcname&target_page=api_v1_project
  response:
    body: {}
    headers:
      Location:
      - /api/v1/project/firefox
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://repology.org/api/v1/project/firefox
  response:
    body:
      string: "[{\"repo\":\"manjaro_stable\",\"subrepo\":\"extra\",\"srcname\":\"firefox-i18n\",\"binname\":\"firefox-i18n-ga-ie\",\"visiblename\":\"firefox-i18n-ga-ie\",\"version\":\"133.0\",\"origversion\":\"133.0-1\",\"status\":\"newest\",\"summary\":\"Irish
        language pack for Firefox\",\"licenses\":[\"MPL-2.0\"]},{\"repo\":\"arch\",\"subrepo\":\"extra\",\"srcname\":\"firefox-i18n\",\"binname\":\"firefox-i18n-sq\",\"visiblename\":\"firefox-i18n-sq\",\"version\":\"133.0\",\"origversion\":\"133.0-1\",\"status\":\"newest\",\"summary\":\"Albanian
        language pack for Firefox\",\"licenses\":[\"MPL-2.0\"]},{\"repo\":\"alpine_3_20\",\"subrepo\":\"community\",\"srcname\":\"firefox\",\"binname\":\"firefox\",\"visiblename\":\"firefox\",\"version\":\"132.0.2\",\"origversion\":\"132.0.2-r0\",\"status\":\"outdated\",\"summary\":\"Firefox
        web browser\",\"maintainers\":[\"alpine@ptrcnull.me\"],\"licenses\":[\"GPL-3.0-only
        AND LGPL-2.1-only AND LGPL-3.0-only AND MPL-2.0\"]},{\"repo\":\"aosc\",\"srcname\":\"app-web/firefox\",\"binname\":\"firefox\",\"visiblename\":\"firefox\",\"version\":\"133.0\",\"origversion\":null,\"status\":\"newest\",\"summary\":\"Standalone
        Web browser from Mozilla\",\"maintainers\":[\"fallback-mnt-aosc@repology\"],\"categories\":[\"web\"]},{\"repo\":\"alpine_3_20\",\"subrepo\":\"community\",\"srcname\":\"firefox\",\"binname\":\"firefox-dbg\",\"visiblename\":\"firefox-dbg\",\"version\":\"132.0.2\",\"origversion\":\"132.0.2-r0\",\"status\":\"outdated\",\"summary\":\"Firefox
        web browser (debug symbols)\",\"maintainers\":[\"alpine@ptrcnull.me\"],\"licenses\":[\"GPL-3.0-only
        AND LGPL-2.1-only AND LGPL-3.0-only AND MPL-2.0\"]},{\"repo\":\"alpine_3_20\",\"subrepo\":\"community\",\"srcname\":\"firefox\",\"binnam[...]
